[Unit]
Description=MySQL Service for fc2blog
After=etcd.service
After=docker.service

[Service]
ExecStart=/bin/bash -c '/usr/bin/docker start --attach %n || /usr/bin/docker run --name=%n fc2blog/mysql'
ExecStartPost=/usr/bin/etcdctl set /services/mysql %n
ExecStop=/usr/bin/docker stop %n
ExecStopPost=/usr/bin/etcdctl rm /services/mysql

[Install]
WantedBy=local.target
