[Unit]
Description=Apache Service for fc2blog
After=etcd.service
After=docker.service

[Service]
ExecStartPre=/bin/sh -c '/usr/bin/etcdctl get /services/mysql >/dev/null || /usr/bin/etcdctl watch /services/mysql >/dev/null'
ExecStart=/bin/sh -c '/usr/bin/docker start --attach %n || /usr/bin/docker run --name=%n --publish=80:80 --link=`/usr/bin/etcdctl get /services/mysql`:mysql fc2blog/apache'
ExecStop=/usr/bin/docker stop --time=3 %n

[Install]
WantedBy=local.target
